<div id="main-login">
    <h3>Login</h3>
    <!-- <label for="username"></label> -->
    <form action="/login" method="post">
        <input type="text" name="username" id="username"
        placeholder="Nome de usuário...">
        <button type="submit">Iniciar</button>
    </form>
</div>