<main id="main-new-meal">
    <h3>Nova refeição</h3>
    <input id="input-img" type="file" accept="image/*" capture="environment">
    <div class="img-container">
        <img id="foodImage" src="" alt="">
    </div>
    <h1 id="meal-date">-</h1>
    <!-- Tabela de alimentos -->
    <table id="meal-table">
        <tr>
            <th>Comida</th>
            <th>Energia (kcal)</th>
            <th>Proteina (g)</th>
            <th>Carboidrato (g)</th>
            <th>Fibra (g)</th>
        </tr>
    </table>
    
    <button id="cancel-meal-button">Cancelar</button>
    <button id="save-meal-button">Salvar</button>
</main>

<!-- Load Tensorflow and Teachable Machine models -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<script src="/javascript/meal.js"></script>
<script src="/javascript/newMeal.js"></script>
