* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    border: 0;
    width: 100%;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

#main-home, #main-login {
    text-align: center;
}

#main-login {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
}

#main-login input {
    height: 50px;
    color: green;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

#main-login button {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    font-size: 24px;
    cursor: pointer;
}

#meal {
    width: 100%;
}

#img-container {
    width: 100%;
}

#foodImage {
    max-width: 100%;
    height: auto;
}

ul.foods-container {
    list-style: none;
    padding: 0;
}
